<div class="p-5">
    <table class="w-full p-5 text-gray-700">
        <thead>
        <tr>
          <% @columns.each do |column| %>
            <th class="text-left text-blue-900"><%= @object.human_attribute_name(column) %></th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @data.each do |item| %>
        <tr>
          <% @columns.each_with_index do |column, index| %>
            <td>
              <% if index == 0 %>
                <%= link_to f(item.send(column)), item %>
              <% else %>
                <%=f item.send(column) %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>