<h1>Editing policy published</h1>

<%= render "form", policy_published: @policy_published %>

<br>

<div>
  <%= link_to "Show this policy published", @policy_published %> |
  <%= link_to "Back to policy publisheds", policy_publisheds_path %>
</div>
