<% if notice %>
  <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
    <p class="font-bold">Informational message</p>
    <p class="text-sm"><%= notice %></p>
  </div>
<% end %>