<div id="policy_publisheds">
  <% @policy_publisheds.each do |policy_published| %>
    <%= render policy_published %>
    <p>
      <%= link_to "Show this policy published", policy_published %>
    </p>
  <% end %>
</div>