<thead>
  <tr>
    <td>Source IP</td>
    <td>DKIM</td>
    <td>SPF</td>
    <td>Type</td>
    <td>Comment</td>
    <td>Header From</td>
    <td>DKIM Domain</td>
    <td>DKIM Result</td>
    <td>DKIM HResult</td>
    <td>SPF Domain</td>
    <td>SPF Result</td>
    <td>Count</td>
    <td>Disposition</td>
    <td>Reason Type</td>
    <td>Reason Comment</td>
  </tr>
</thead>
